<div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <div class = "col-xs-4">Library Invoice Number LB45669</div>
                    <div class = "col-xs-4 text-center">
                        <span class = "invoice-header">Invoice</span> <br>
                        <span class = "invoice-org">UCSD</span> <br>
                        University of Calfiornia, San Diego Libraries
                    </div>
                    <div class = "col-xs-4"><img class = "logo pull-right" src="https://igpp.ucsd.edu/sites/default/files/images/UCSD-logos-horizontal.png" alt="logo"></div>

                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-5">
                        <address>
                        <strong>AA0014629</strong><br>
                            Cannell, John Dr.<br>
                            Vitmain D Council<br>
                            1241 Johnson Ave. #134<br>
                            San Luis Obispo, CA 93401
                        </address>
                    </div>
                    <div class="col-xs-offset-1 col-xs-5">
                        <address>
                        <strong></strong><br>
                            <br>
                            <br>
                            <br>
                            10/16/2014
                        </address>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-7 col-xs-5">
                        858 534-2528
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-xs-6">
                        <span class="small-indent">UCSD FEIN: 95-6006144</span>
                    </div>
                    <div class="col-xs-offset-1 col-xs-4 col-xs-offset-2">
                        <table class="table table-condensed">
                            <thead class = "thead1">
                                <tr>
                                    <th>Det Code</th>
                                    <th>Total</th>
                                    <th>Det Code</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>LIBLPS</td>
                                    <td>599.00</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <!-- put the macks check payable box here -->
        <div class = "row">
            <div class = "col-xs-8">
                <div class = "box">
                    Make checks payable to:  The Regents of the University of Calfifornia<br/>
                    Mail payment and a copy of this Invoice to:
                    <div class = "invoice-address pull-right">


                        <div class="invoice-address-inner">
                            Central Cashier's Office 0009<br>
                            9500 Gilman Drive<br>
                            La Jolla, CA 92093-0009
                        </div>
                    </div>
                    <div class="box-bottom"> Please include your account number and the invoice number on your remittance.</div>


                </div>
            </div>
            <div class = "col-xs-2">Total</div>
            <div class = "col-xs-2">599.00</div>
        </div>

<!-- **************************DESCRIPTION OF CHARGES******************************** -->
        <div class = "row">
            <div class = "col-xs-12 text-center">
                <div class = "descriptionOfCharges">Description of Charges</div>
            </div>

        </div>
        <hr class = "hr-margin">
        <div class = "row">
            <div class = "col-xs-offset-1 col-xs-2">
                <div>Job #</div>
            </div>
            <div class = "col-xs-1">
                Pages
            </div>
            <div class = "col-xs-8">
            </div>
        </div>
        <div class = "row">
            <div class = "col-xs-2 text-right">
                <strong>Detail Code</strong>
            </div>
            <div class = "col-xs-2">
                <strong>LIBLPS</strong>
            </div>
            <div class = "col-xs-7">
            </div>
        </div>
<!-- **************************TABLE OF CHARGES******************************** -->
        <div class = "row">
            <div class = "col-xs-1">
                779
            </div>
            <div class = "col-xs-2">
                Various
            </div>
            <div class = "col-xs-1">
                52
            </div>
            <div class = "col-xs-2">
                Various
            </div>
            <div class = "col-xs-offset-2 col-xs-2">

            </div>
            <div class = "col-xs-2">
                599.00
            </div>
        </div>

        <div class = "row">
            <div class = "items col-xs-offset-4 col-xs-6">
                Interlibrary Loan Electronic PhotoCopy ----- 52 Requests total <br/>
                ILL# 36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321, 356535322, 3653525,36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321, 356535322, 3653525, 36535319, 36535320, 36535321
            </div>
        </div>
<!-- **************************TOTAL******************************** -->
        <hr class = "hr-margin">
        <div class = "row">
            <div class = "col-xs-2 text-center">
                <div>**Final Counts: </div>
            </div>
            <div class = "col-xs-2">
                Articles=
            </div>
            <div class = "col-xs-2">
                1
            </div>
            <div class="col-xs-offset-2 col-xs-2">
                Total
            </div>
            <div class = "col-xs-2">
                599.00
            </div>
        </div>
    </div>
<% if request.format.html? %>
  <p>
    <%= link_to  url_for(request.params.merge(:format => :pdf)) do %>
      Download as PDF
    <% end %>
  </p>
<% end %>
